<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <!--日志输出目录-->
  <variable name="path" value="${basedir}/logs/${shortdate}"/>

  <!-- WebInfoLayoutRenderer ${webinfo} 默认情况下 第一个请求或日志级别大于等级Warn会带上web信息 ${webinfo:Info} 则日志级别大于等级Info ${webinfo:(Trace|Debug|Info|Warn|Error|Fatal)} -->
  <!--日志样式-->
  <variable name="template" value="==================================================================${newline}${when:when='${ndlc}' != '':inner=   ${ndlc}${newline}------------------------------------------------------------------${newline}}   ${logger}${newline}   ${uppercase:${level}} ${longdate}  EventID：${event-properties:item=EventId_Id:whenEmpty=0}${newline}   ${message}${webinfo}${newline}${onexception:Exception：${newline}   ${exception:format=toString}${newline}Stacktrace：${newline}   ${stacktrace}${newline}}==================================================================${newline}" />

  <!--日志输出目标-->
  <targets>
    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" layout="${template}" />
    <target name="file" xsi:type="File"
            fileName="${path}/${level}.txt"
            archiveAboveSize="1048576"
            archiveNumbering="Sequence"
            encoding="utf-8"
            layout="${template}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Warn" writeTo="file" />
  </rules>
</nlog>