<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="no">
    <link href="~/css/css.css" rel="stylesheet"  asp-append-version="true"/>
    <link href="~/layui/css/layui.css" rel="stylesheet" asp-append-version="true" />
    @RenderSection("header", required: false)
</head>
<body>
    @RenderBody()
    <script src="~/layui/layui.all.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
